@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");

:root {
  --font-family-main: "Inter", Arial, sans-serif;
  --font-family-secondary: "Roboto Slab", Georgia, serif;
  --font-size: 16px;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-gray: #f5f5f5;
  --color-dark-gray: #808080;
  --color-blue: #2f80ed;
  --color-footer: rgba(182, 188, 191, 1);
  --color-preloader-bg: rgba(245, 246, 247, 1);
  --color-preloader-spinner-dark: rgba(26, 27, 34, 1);
  --color-preloader-spinner-light: rgba(209, 210, 214, 1);
  --color-show-more-hover-bg: #e8e8e8;
}

body {
  font-family: var(--font-family-main);
}
